<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Smart Lab</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Index</a></li>
      <li><a href="/webapp/chart">Chart</a></li>
      <li><a href="/webapp/about">About</a></li>
    </ul>
  </div>
</nav>


<div class="jumbotron text-center">
  <h1>SCC 330 Project</h1>
  <p>Smart lab project monitor page</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Working with Particle photon</h3>
      <p>Woring with multiple sensors </p>
    </div>
    <div class="col-sm-4">
      <h3>Real time data input</h3>
      <p>data input and stored into google sheet in realtime</p>
    </div>
    <div class="col-sm-4">
      <h3>Real time feedback</h3>
      <p>Real time data feedback with line charts powered by google chart</p>
    </div>
  </div>
</div>

</body>
</html>
